{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'income'%}">Income</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
    </nav>


    <div class="card">
        <div class="card-body">
            <form action="{% url 'add-income' %}" method="post">
            {% include 'partials/_messages.html'%}
            {%csrf_token%}
                <div class="form-group">
                    <label for="">Amount:</label>
                    <input type="number" name="amount" class="form-control form-control-sm" value="{{values.amount}}"/>
                </div>

                <div class="form-group">
                    <label for="">Currency:</label>
                    <select class="form-control" name="Currency">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Source:</label>
                    <select class="form-control" name="source">
                        {% for source in sources %}
                        <option class="source" value="{{source.name}}">{{source.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Description:</label>
                    <input type="text" name="description" class="form-control form-control-lg" value="{{values.description}}"/>
                </div>

                <div class="form-group">
                    <label for="">Date of income:</label>
                    <input type="date" name="income_date" value="{{values.income_date}}" class="form-control form-control"/>
                </div>

                <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm"/>
            </form>

        </div>
    </div>

    
</div>


{% endblock %}