{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'expenses'%}">Expenses</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Expenses</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'expense-delete' expense.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <form action="{% url 'expense-edit' expense.id %}" method="post">
            {% include 'partials/_messages.html'%}
            {%csrf_token%}
                <div class="form-group">
                    <label for="">Amount:</label>
                    <input type="number" name="amount" class="form-control form-control-sm" value="{{values.amount}}"/>
                </div>

                <div class="form-group">
                    <label for="">Currency:</label>
                    <select class="form-control" name="Currency">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Category:</label>
                    <select class="form-control" name="category">
                        <option class="category" value="{{values.category}}">{{values.category}}</option>
                        {% for category in categories%}
                        <option class="category" value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Description:</label>
                    <input type="text" 
                    name="description" 
                    class="form-control form-control-lg" 
                    value="{{values.description}}"/>
                </div>

                <div class="form-group">
                    <label for="">Date of expense:</label>
                    <input type="date" 
                    name="expense_date" 
                    value="{{values.date | date:'Y-m-d'}}" 
                    class="form-control form-control"/>
                </div>

                <input type="submit" 
                value="Save" 
                class="btn btn-primary btn-primary-sm"/>
            </form>

        </div>
    </div>

    
</div>


{% endblock %}