{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4"></div>
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Expenses Summary</a></li>
                <li class="breadcrumb-item active" aria-current="page">Summary</li>
                </ol>
            </nav>
        </div>
    
        <div class="col-md-2">
            <a  class="btn btn-primary">
                    Back
            </a>
        </div>
        <canvas id="myChart" width="90" height="90"></canvas>  
    </div>

    <div class="container">
        {% include 'partials/_messages.html' %}
      
        
       

</div>

</div>
<script src="{% static 'js/stats.js' %}"></script>

{% endblock content %}