{% extends 'admin/base_site.html'%}
{% load static %}

{% block branding %}
<h1 id="header">
    <img src="{% static 'img/logo.jfif'%}" width="35" height="35"/>
    Truely Expenses
</h1>


{% endblock%}
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'css/adminstyle.css'%}"/>


{% endblock %}