#header {
    background: rgb(0, 62, 69);
    color: #ffff;
}

#branding h1 {
    color: #fff;
}

div.breadcrumbs {
    background: rgb(61, 88, 106);
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    text-align: left;
}

.login .submit-row{
    padding: 0px  !important;
}

.button,
input[type ="submit"],
input[type ="button"],
.login .submit-row,
a.button{
   width: 100%;
}