{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Login page</h4>
        </div>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {% include 'partials/_messages.html'%}
          
          <div class="form-group">
            <input
              type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              value="{{fieldValues.username}}"
              class="form-control form-control-sm"
            />
          </div>
          
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
            
            <small class="float-right py-3 showPasswordToggle">SHOW</small>
          </div>
          <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn" />
        </form>
        <div class="container">
          <span class="text-lead lead">Dont have an account</span><a href ="{% url 'register' %}">Register</a><br>
          <span class="text-lead lead">Forgot Password</span><a href ="{% url 'request-password'%}">Reset</a>


        </div>

      </div>
      
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}