{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Please Enter your email to get reset link</h4>
        </div>
        <form action="{% url 'request-password' %}" method="post">
          {% csrf_token %}
          {% include 'partials/_messages.html'%}
          
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control form-control-sm"
              id="emailField"
              value="{{fieldValues.email}}"
            />
          </div>

          
          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
        </form>

        <div class="container">
          <span class="text-lead lead">Have an account</span><a href ="{% url 'login' %}">Login</a><br>
          <span class="text-lead lead">Dont have an account</span><a href ="{% url 'register'%}">Register</a>


        </div>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}