
{%load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrulyExpenses  {% block title%}
        {% endblock %}
    </title>

    
    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" >
<link href="{% static 'css/main.css'%}" rel="stylesheet" >
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
  
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Truely Expensive</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <ul class="navbar-nav px-3" style="display: flex;flex-direction: row; align-items:center">

    <li class="nav-item text-nowrap">
      <a class ="nav-link" href="">
        {{request.user.username}}
      </a>
      
    </li>

    <li class="nav-item text-nowrap mt-3 ml-2">
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        
        <input class="text text-capitalize" type="submit" value="Sign out"/>

      </form>
      
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row"> 
    {% include 'partials/_sidebar.html' %}
    <main role = "main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      {% block content %}




      {% endblock content %}
    </main>
  </div>
</div>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
      
      <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
